<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🦉 youtube subs</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
    <header>
      <h1>🦉</h1>
    </header>

    <a class="github" href="https://github.com/kevinfiol/youtube">
      <small><%= it.now %></small>
    </a>

    <main>
      <% for (let day of it.days) { %>
        <div class="day">
          <h2><%= day %></h2>
          <hr />
          <div class="videos">
            <% for (let video of it.videos[day]) { %>
              <div class="video">
                <a href="<%= video.link %>">
                  <img src="<%= video.thumbnail %>" loading="lazy" />
                </a>

                <p>
                  <a href="<%= video.link %>">
                    <%= video.title %>
                  </a>
                </p>

                <p>
                  <a href="<%= video.channel %>">
                    <strong><%= video.author %>&nbsp;</strong>
                  </a>

                  <a href="<%= video.youtube %>">
                    <span>(YT)</span>
                  </a>
                </p>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </main>
</body>
</html>
